<!DOCTYPE html>
<html>
  <head>
    <title>Flask Template Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        padding-top: 100px;
      }
    </style>
  </head>
  <body>
    <div class="container">
        Consent granted
        <p><code>{{ code }}</code></p>
        <p><code>{{ token }}</code></p>
        <p><code>{{ inspection }}</code></p>
        <p><code>custon attribute :: {{ inspection["test"] }}</code></p>

        <p><code>{{ token_info }}</code></p>

    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>